/*
Congenial Broccolis: Wen Hao Dong (Jal Hordan), Austin Ngan (Gerald), Liesel Wong (King Hagrid), Rachel Xiao (Mooana)
SoftDev
P01 -- ArRESTed Development
2021-12-10 */


/* COLOR PALLETE:  https://coolors.co/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb*/

:root {
   --primary: #5f43b2; /* studio color */
   --secondary: #3a3153; /* martinique */
   --black: #010101;
   --white: #fefdfd;
   --dirty_white: #f8fafb;
   --gray: #b1aebb;
}

body{
  background-color: var(--dirty_white);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container{
  height: 100%;
  align-content: center;
}

.btn-purple {
  color: white;
  background-color: var(--primary);
  border: 2px solid var(--primary);
}
.btn-purple:hover {
  color: white;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #bd9dea !important;
  font-style:  bold;
  width:  100%;
  height:  75px;
}

h1 {
  padding-top: 15px;
}
