<!--
Congenial Broccolis: Wen Hao Dong (Jal Hordan), Austin Ngan (Gerald), Liesel Wong (King Hagrid), Rachel Xiao (Mooana)
SoftDev
P01 -- ArRESTed Development
2021-12-10 -->


<h3> Enter your Username and Password</h3>

<form method = "POST"> 
	<input 
	placeholder="username"
	name = "username"
	required
	pattern="\S+"
	minlength="1">
	</input>

	<input 
	placeholder="password"
	name = "password"
	required 
	pattern = "\S+"
	minlength="1"
	type="password"
	></input>

	<input type="submit" value="Login"/>

</form>

<p style="color:red;">{{ explain }}</p>

<a id="register" href = "/register"> Don't have an Account? Sign up!</a>