<!--
Congenial Broccolis: Wen Hao Dong (Jal Hordan), Austin Ngan (Gerald), Liesel Wong (King Hagrid), Rachel Xiao (Mooana)
SoftDev
P01 -- ArRESTed Development
2021-12-10 -->

<h3> Enter your Username and Password</h3>

<form method = "POST"> 
    <input 
	placeholder="newusername"
	name = "newusername"
	required
	pattern="\S+"
	minlength="1">
	</input>

	<input 
	placeholder="newpassword"
	name = "newpassword"
	required 
	pattern = "\S+"
	minlength="1"
	type="password"
	></input>

	<input type="submit" value="Register"/>

</form>

<p style="color:red;">{{ explain }}</p>

<a id="login" href = "/login"> Have an Account? Log in!</a>
